<table style="width: 465px; margin-top: 25px;" align="center">
    <tbody>

        <tr style="color: #190E2F; font-weight: 500; font-size: 22px" align="left">
            <td>
                Hi, <span style="color: #00AEDC">{{username}}!</span>
            </td>
        </tr>
        <tr style=" font-size: 18px; line-height: 27px" align="left">
            <td>
                <p style="margin-top: 30px; color: #190E2F;">
                    Bid successfully placed on
                    <span>{{productName}}!</span>
                </p>
                <p style="color: #190E2F;">
                    Current Price:
                    <span>{{price}}!</span>
                </p>

                <a href={{productLink}} target="_blank" style="
                    text-decoration: none;
                    color: #190E2F;
                    }">
                    <button style="background-color:#fff; 
                                    border-radius:6px;
                                    padding:10px;
                                    margin-bottom:20px;
                                    border:1px solid #190E2F;
                                    color: #190E2F;">
                        Product link
                    </button>
                </a>

            </td>
        </tr>
        <tr style="font-size:25px;">
            Auction app
        </tr>
    </tbody>
</table>
<table style="width: 465px; margin-top:  5px" align="center">
    <tbody>

    </tbody>
</table>